<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Rss Feed Reader</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/Card-Grid.css">
</head>

<body>
    <section class="card-grid">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Rss Feed Reader</h2>
                <p class="text-center">Most news websites, blogs, podcasts, maintain a RSS feed which gives real-time content updates.</p>
            </div>
            <form id="form" method="post" action="/"><div class="input-group" style="margin-top: 20px;margin-bottom: 20px;"><input class="form-control" name="url"><button class="btn btn-primary" type="submit">Add Url</button></div></form>
            {% if channelInfo %}
            <div class="intro">
                <h2 class="text-center">{{channelInfo['title']}}</h2>
                <p class="text-center">{{channelInfo['description']}}</p>
            </div>
            {% endif %}
            <div class="row row-cols-3 font-monospace text-lowercase people" data-aos="fade" data-aos-once="true">
                {% for feed in feeds %}
                <div class="col" style="margin-top: 30px;">
                    <div class="card"><img class="card-img-top w-100 d-block" src="{{feed['imageUrl']}}">
                        <div class="card-body">
                            <h4 class="card-title">{{feed['title']}}</h4>
                            <p class="card-text">{{feed['description']}}</p>
                            <a href="{{feed['link']}}" class="btn btn-primary">Read More &rarr;</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>